# raw data (never commit)
data/
*.parquet
*.csv
*.csv.gz

# python
__pycache__/
*.pyc
.venv/
.venv311/
.env
.env.local
.env.*.local
node_modules/
Frontend/dist/

# notebooks
.ipynb_checkpoints/

# macOS
.DS_Store
